// 色の定義

// テキスト
$text-black: #434343;
$text-white: #ffffff;

// 背景
$background-white: #ffffff;

// 線
$style-object-gray: #c4c4c4;

//グラデーション
$border-top: linear-gradient(90deg, #aadcb9 0%, #82bef0 50%, #d2a5eb 100%);

$gradient-underline: linear-gradient(90deg,#aadcb9 0%,#82bef0 50%,#d2a5eb 100%);

$Gradient-Dark: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.75) 100%),
                linear-gradient(90deg, #AADCB9 0%, #82BEF0 50%, #D2A5EB 100%);

//ボタングラデーション
$gradient-button: linear-gradient(90deg, #aadcb9 0%, #82bef0 50%, #d2a5eb 100%);
