// レイアウト
// 大枠の位置配置の記述したい（子要素marginを記述しているため）

@use '../foundation/color.scss' as *;
@use '../foundation/breakpoint.scss' as *;

.html {
  background-color: $background-white;
  height: auto;
}

.hero {
  margin-bottom: 80px;
}

.news-content {
  margin-bottom: 50px;
}

.news-button-container {
  margin-bottom: 107px;
}
// スマホ
@media (max-width: $breakpoint-sp){
  .news-button-container{
    margin-bottom: 72px;
  }
}

.card-container {
  margin-bottom: 107px;
}
