
@use "../utility/color" as *;

//newsのflexboxが画面左右中央にくるように
.news {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

.section-title {
    color: #434343;
    font-family: "Hiragino Kaku Gothic ProN";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

.news-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
}

.news-content li {
    display: flex;
    width: 1200px;
    padding: 21px 0px;
    align-items: center;
    gap: 40px;
}

.news-date {
    color: $text-black;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}