@use "../utility/color" as *;

.news {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.section-title {
    width: 100%;
    margin: 0;
    // ↑marginはscss/foundation/layoutに移動
    color: #434343;
    text-align: left;
    font-family: "Hiragino Kaku Gothic ProN";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

.title-under-border {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    border-bottom: 2px solid $style-object-gray;
        &::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 120px;
            height: 2px;
            background: $gradient-underline;
            z-index: 1;
        }
}

.news-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.news-content li {
    display: flex;
    width: 1200px;
    margin:  0 auto;
    padding: 21px 0px;
    align-items: center;
    gap: 40px;
    border-bottom: 1px dotted #ddd;
}

.news-date {
    color: $text-black;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.news-text {
    color: $text-black;
    font-family: Robot;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
}

