@use '../foundation/color.scss' as *;
@use '../foundation/breakpoint.scss' as *;

.footer {
  background: $Gradient-Dark;
  color: var(--Style-Text-White, #FFF);
  list-style: none;
  padding: 20px 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  gap: 10px;
}

.footer-container {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-logo {
  display: flex;
  width: 197px;
  height: 50px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  aspect-ratio: 197/50;
  background: url(/images/logo_yoko_en_textWhite1@2x.png) 50% / cover no-repeat;
}

.footer-columns {
  display: flex;
  gap: 30px;
  color: $text-white;
  font-family: 'Noto Sans JP';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.footer-submenu {
  list-style: none;
  padding-left: 0;
}

.footer-submenu li {
  position: relative;
  padding-left: 1rem;

  &::before {
    content: '-';
    position: absolute;
    left: 0;
    color: $text-white;
  }

  a {
    text-decoration: none;
    color: $text-white;
  }
}

//スマホ
@media (max-width: $breakpoint-sp) {
  .footer-container {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }

  .footer-columns {
    // flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .footer-column {
    width: 100%;
  }

  .footer-submenu {
    padding-left: 0;
  }

  .footer-submenu li {
    padding-left: 1rem;
  }
}

//タブレット
@media (max-width: $breakpoint-tb) {
  .footer-container {
    flex-direction: column;
    padding: 20px;
    gap: 10px;
  }

  .footer-columns {
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 20px;
  }

  .footer-column {
    flex-wrap: wrap;
    width: 240px;
  }

  .footer-submenu {
    padding-left: 0;
  }

  .footer-submenu li {
    padding-left: 1rem;
  }
}
