// news-button
@use '../foundation/color.scss' as *;
@use '../foundation/breakpoint.scss' as *;

.news-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 352px;
  height: 60px;
  color: #fff;
  font-family: 'Hiragino Kaku Gothic ProN';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.25px;
  background: $gradient-button;
  border-radius: 8px;
  border: none;
  padding: 10px;
  gap: 10px;
}

// @media (max-width: $breakpoint-sp){
//   .news-button{
//     display: flex;
//     width: auto;
//     height: auto;
//     // align-items: flex-start;
//     padding: 17px 107px;
//     color: #fff;
//     font-family: "Hiragino Kaku Gothic ProN";
//     font-size: 20px;
//     font-style: normal;
//     font-weight: 600;
//     line-height: 30px;
//   }
// }
