// news-button
@use '../foundation/color.scss' as *;
@use '../foundation/breakpoint.scss' as *;

.news-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 352px;
  height: 60px;
  color: #fff;
  font-family: 'Hiragino Kaku Gothic ProN';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.25px;
  border-radius: 8px;
  background: var(--Gradient-Vivid, linear-gradient(90deg, var(--Mater-Sub-Green, #AADCB9) 0%, var(--Mater-Sub-Blue, #82BEF0) 50%, var(--Mater-Sub-Purple, #D2A5EB) 100%));
  border-radius: 8px;
  border: none;
  padding: 10px;
  gap: 10px;
}

// スマホ
@media (max-width: $breakpoint-sp) {
  .news-button-container {
    width: 100%;
  }

  .news-button {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    width: 100%;
    height: auto;
    padding: 17px 100px;
    align-items: flex-start;
    color: #fff;
    font-family: 'Hiragino Kaku Gothic ProN';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
  }
}
