@use "../color.scss" as *;

.footer {
    background: $Gradient-Dark;
    color: $text-white;
    list-style: none;
    padding: 20px 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 10px;
}

.footer-container {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-logo {
    display: flex;
    width: 197px;
    height: 50px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    aspect-ratio: 197/50;
}

.footer-columns {
    display: flex;
    gap: 30px;
    color: $text-white;
    font-family: "Noto Sans JP";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.footer-submenu {
    list-style: none;
    padding-left: 0;
}

.footer-submenu li {
    position: relative;
    padding-left: 1rem;

    &::before{
        content: "-";
        position: absolute;
        left: 0;
        color: $text-white;
    }

    a {
        text-decoration: none;
        color: $text-white;
    }
}