@use "../color.scss" as *;

.footer {
    background: $Gradient-Dark;
    color: $text-white;
    list-style: none;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    width: 1440px;
    height: 192px;
    gap: 10px;
}

.footer-container {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-logo {
    display: flex;
    width: 197px;
    height: 50px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    aspect-ratio: 197/50;
}

.footer-columns {
    display: flex;
    gap: 50px;
}
