// レイアウト
// 大枠の位置配置の記述したい（子要素marginを記述しているため）

.hero {
    margin-bottom: 80px;
}

.news {
    margin: 0px 120px 0px 120px;
}

.news-content {
    margin-bottom: 50px;
}

.news-button-container {
    margin-bottom: 107px;
}

.card-container {
    margin-bottom: 107px;
}