@use '../color.scss' as *;
@use "../breakpoint.scss" as *;

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.news-title {
  justify-content: flex-start;
  width: 100%;
  color: #434343;
  text-align: left;
  font-family: 'Hiragino Kaku Gothic ProN';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  padding-bottom: 12px;
}

.title-under-border {
  position: relative;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  border-bottom: 2px solid $style-object-gray;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 120px;
    height: 2px;
    background: $gradient-underline;
    z-index: 1;
  }
}

.news-content {
  display: flex;
  width: 100%;
  max-width: 1200px;
  flex-direction: column;
  justify-content: flex-start;
  // align-items: center;
  // padding: 0 20px;
  // box-sizing: border-box;
  // margin: 0 auto;
}

.news-content li {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 21px 0px;
  align-items: center;
  gap: 40px;
  border-bottom: 1px dotted #ddd;
}

.news-page-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 16px;
}

.news-date {
  color: $text-black;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}

.news-text {
  color: $text-black;
  font-family: Robot;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}

// テキスト装飾分割表記もできるがお知らせ新しくなるたびに装飾変える
// よりもastroの画像差し替えのみのほうが楽なので画像表記→読み込み遅くなる？
.news-label img {
  width: 60px;
  height: auto;
}

//スマホ お知らせ(.news-content)の幅が可変しない
@media (max-width: $breakpoint-sp){

  .news-content {
    width: 100%;
    flex-direction: column;
    gap: 12px;
  }

}