//カード部分
@use '../../foundation/color.scss' as *;
@use '../../foundation/breakpoint.scss' as *;

.card-container {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  padding: 0px 7.36px 0px 7.33px;
  justify-content: center;
  gap: 40.65px;
  flex-wrap: wrap;
}

.card {
  position: relative;
  width: 368px;
  height: 298px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.65);
  overflow: hidden;
}

.card-link {
  width: 100%;
  height: 100%;
}

.card img {
  width: 100%;
  height: auto;
}

.card-link-report {
  transform: scale(1.03);
}

.card-img3 {
  margin: 0 auto;
  width: 140px;
  max-width: 100%;
  height: 143.633px;
  max-height: 242px;
  object-fit: contain;
  transform: scale(0.6);
}

.card-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Style-Text-Black, #434343);
  padding-top: 13px;
  padding-bottom: 13px;
  font-family: 'Hiragino Kaku Gothic ProN';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  background: rgba(255, 255, 255, 0.00);
  box-shadow: 0px -1px 6px 0px rgba(0, 0, 0, 0.16)
}

.arrow {
  display: none;
}

// スマホ
@media (max-width: $breakpoint-sp) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
  }

  .card-text {
    font-size: 16px;
    line-height: 24px; /* 150% */
  }

  .arrow {
    display: block;
    position: absolute;
    right: 8px;
    bottom: 8px;
  }
}

//画面幅に合わせて縮小
@media (max-width: 395px) {
  .card {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
