//ヒーロービジュアル

@use '../../foundation/color.scss' as *;
@use '../../foundation/breakpoint.scss' as *;

// ヒーロービジュアル
.hero {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 561px;
  background-color: #fff;
  background-image: url(/images/KeyVisual@2x.png);
  aspect-ratio: 16/9;
  background-size: cover;
  background-position: center;
  white-space: nowrap;
}

// コピーライト
.copy-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  width: 600px;
  height: 561px;
  background: $gradient-white;
  backdrop-filter: blur(5px);
  gap: 50px;
}

.copy-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 440px;
  height: 55px;
  margin-left: 120px;
}

.copy-left {
  position: absolute;
  left: -16px;
  top: 7px;
  width: 18.5px;
  height: 24.5px;
  background: url(/images/copy-left@2x.png) center / contain no-repeat;
}

.copy-main {
  position: absolute;
  display: flex;
  color: var(--Style-Text-Black, #434343);
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Hiragino Kaku Gothic ProN';
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%; /* 40px */
  letter-spacing: 1.25px;
  min-width: 320px;
}

.copy-comma {
  letter-spacing: -8.75px;
}

.copy-k {
  letter-spacing: -1.25px;
}

.copy-right {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 18.5px;
  height: 24.5px;
  background: url(/images/copy-right@2x.png) center / contain no-repeat;
}

.copy-main-wave {
  display: none;
}

.copy-sub {
  width: 440px;
  height: 18px;
  display: flex;
  text-align: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Hiragino Kaku Gothic ProN';
  font-size: 18px;
  font-style: normal;
  font-weight: 250;
  line-height: 100%;
  letter-spacing: 0.9px;
  margin-left: 120px;
  color: var(--Style-Text-Black, #434343);
  margin-left: 120px;
  }

.hero::before {
  display: none;
}

// スマホ
@media (max-width: $breakpoint-sp) {
  // ヒーロービジュアル
  .hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 310.5px;
    background: url(/images/KeyVisual-sp.jpg) center / cover no-repeat;
    overflow: hidden;
  }

  .hero::after {
    content: '';
    position: absolute;
    inset: 0;
    background: $Gradient-hero;
    mix-blend-mode: overlay;
    opacity: 1;
    z-index: 1;
  }

  .hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background: $Gradient-hero-white2;
    opacity: 0.3;
    z-index: 2;
    pointer-events: none;
  }

  .bg-overlay-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 380.215px;
    height: 304.172px;
    flex-shrink: 0;
    transform: translate(-50%, -50%);
    background: url(/images/img_top_dxoworld@2x.jpg) lightgray -29.236px -43.368px /
      123.816% 116.569% no-repeat;
    opacity: 0.06;
    z-index: 3;
    pointer-events: none;
  }

  //コピーライト
  .copy-wrap {
    top: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    min-width: 0;
    padding: 0 5vw;
    color: var(--Style-Text-White, #fff);
    box-sizing: border-box;
    z-index: 4;
    background: transparent;
    backdrop-filter: none;
  }

  .copy-inner {
    display: none;
  }

  .copy-main {
    display: none;
  }

  .copy-main-wave {
    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
    height: auto;
    color: var(--Style-Text-White, #fff);
    -webkit-text-stroke-color: var(--Style-Text-White, #fff);
    font-family: 'Noto Sans JP';
    font-style: normal;
    line-height: 100%; /* 18.122px */
    padding: 9.665px 14.498px;
  }

  .cha-c1,
  .cha-c3,
  .cha-c4,
  .cha-c6,
  .cha-c7,
  .cha-c8,
  .cha-c9,
  .cha-c10,
  .cha-c11 {
    width: 19px;
    height: 18px;
  }

  .cha-c1,
  .cha-c3,
  .cha-c4,
  .cha-c5,
  .cha-c6,
  .cha-c7,
  .cha-c8,
  .cha-c9,
  .cha-c10,
  .cha-c11,
  .cha-c12 {
    -webkit-text-stroke-width: 0.12px;
    font-size: 18.122px;
    font-weight: 300;
    letter-spacing: 1.812px;
  }

  .copy-main-wave > .cha-c1,
  .copy-main-wave > .cha-c2,
  .copy-main-wave > .cha-c3,
  .copy-main-wave > .cha-c4,
  .copy-main-wave > .cha-c5,
  .copy-main-wave > .cha-c6,
  .copy-main-wave > .cha-c7,
  .copy-main-wave > .cha-c8,
  .copy-main-wave > .cha-c9,
  .copy-main-wave > .cha-c10,
  .copy-main-wave > .cha-c11,
  .copy-main-wave > .cha-c12 {
    display: inline-block;
    vertical-align: middle;
  }

  // 見
  .cha-c1 {
    line-height: 1;
    transform: translateY(0.5px);
  }
  // れば
  .cha-c2 {
    width: 32px;
    height: 14px;
    -webkit-text-stroke-width: 0.09px;
    font-size: 14.498px;
    font-weight: 350;
    letter-spacing: 2.9px;
    line-height: 1;
    transform: translateY(-2.6px);
    margin-right: 11.49px;
  }
  // わ
  .cha-c3 {
    transform: translateY(-2px);
  }
  // か
  .cha-c4 {
    line-height: 1;
    transform: translateY(-2.5px);
  }
  // る、つ
  .cha-c5 {
    width: 58px;
    height: 18px;
    line-height: 1;
    transform: translateY(0.7px);
  }
  // な
  .cha-c6 {
    line-height: 1;
    transform: translateY(-0.7px);
  }
  // が
  .cha-c7 {
    line-height: 1;
    transform: translateY(-1.1px);
  }
  // る、
  .cha-c8 {
    width: 39px;
    height: 18px;
    line-height: 1;
    transform: translateY(0.7px);
  }
  // ひ
  .cha-c9 {
    line-height: 1;
    transform: translateY(3px);
  }
  // ら
  .cha-c10 {
    line-height: 1;
    transform: translateY(4px);
  }
  // め
  .cha-c11 {
    line-height: 1;
    transform: translateY(1px);
  }
  // く。
  .cha-c12 {
    width: 39px;
    height: 18px;
    line-height: 1;
    transform: translateY(-1.2px);
  }
  // 「
  .copy-left-sp {
    position: absolute;
    width: 13.29px;
    height: 16.914px;
    left: 0px;
    top: 0px;
    stroke-width: 0.906px;
    stroke: var(--Style-Text-White, #fff);
  }
  // 」
  .copy-right-sp {
    position: absolute;
    width: 13.29px;
    height: 16.914px;
    right: 0px;
    bottom: 0px;
    stroke-width: 0.906px;
    stroke: var(--Style-Text-White, #fff);
  }

  .copy-sub {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: var(--Style-Text-White, #fff);
    font-family: 'Noto Sans JP';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 12px */
    letter-spacing: 1.2px;
  }

  .catch-col {
    display: none;
  }
}

// 1520px以下のとき文字下げ
@media (max-width: 1520px) {
  .copy-wrap {
    height: 131px;
    bottom: -400px;
    padding-left: 25px;
    white-space: nowrap;
    gap: 36px;
  }

  .copy-inner {
    margin-left: 90px;
  }

  .copy-left {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18.5px;
    height: 24.5px;
    left: 0px;
    top: 0px;
  }

  .copy-main {
    position: relative;
    padding: 0 2%;
  }

  .copy-right {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 18.5px;
    height: 24.5px;
    right: 0px;
    bottom: 0px;
  }

  .copy-sub {
    margin-left: 90px;
  }
}

// $breakpoint-tbから$breakpoint-spまで会社ロゴ保持
@media (max-width: $breakpoint-tb) and (min-width: #{ $breakpoint-sp + 1 }) {
  .hero {
    background-position: right center;
    background-size: cover;
  }
}

// 700px以下 .copy見せる
@media (max-width: 700px){

  .copy-wrap {
    gap: 36px;
  }

   .copy-inner {
    margin: 0 0;
  }

  .copy-sub {
    margin: 0 0;
  }
}

// 最小値ひらめくだけ2段目
@media (max-width: $breakpoint-xs) {
  .copy-wrap {
    width: 95vw;
    max-width: 320px;
    min-width: 0;
    height: auto;
    padding: 16px 8px 0 8px;
    background: transparent;
    backdrop-filter: none;
    align-items: center;
  }
  .copy-main-wave {
    display: block;
    text-align: center;
    width: 100%;
    max-width: 304px;
    font-size: 16px;
    padding: 0;
    box-sizing: border-box;
    word-break: break-all;
    white-space: normal;
  }

  /* 「ひらめく。」だけ2段目に */
  .cha-c9 {
    display: block;
    margin-top: 8px;
    // width: 100%;
  }
  .cha-c10,
  .cha-c11,
  .cha-c12 {
    display: inline-block;
    width: auto;
    margin: 0;
  }

  /* 他の文字は1段目に横並び */
  .copy-main-wave > :not(.cha-c9):not(.cha-c10):not(.cha-c11):not(.cha-c12) {
    display: inline;
  }
}
